body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     padding-top: 24px;
     padding-bottom: 24px;
}

.header-logo-italik {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2e2f42;
     padding-top: 24px;
     padding-bottom: 24px;
}

.header-menu-link:hover, .header-menu-link:focus {
     color: #404bbf;
}

.header-menu-link {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding-top: 24px;
     padding-bottom: 24px;

}

.header-address{
     font-style: normal;

}

.header-address-link:hover, .header-address-link:focus {
     color: #404bbf;
}

.header-address-link {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     padding-top: 24px;
     padding-bottom: 24px;
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
     max-width: 496px;
     margin: 0 auto;
     margin-bottom: 48px;
     text-align: center;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     color: #fff;
    }

.hero-btn {
     font-family: "Roboto", sans-serif;
      background-color: #4D5AE5;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      display: block;
      margin: 0 auto;
}

.hero-btn:hover, .hero-btn:focus {
     background-color: #404BBF;
}

.guality {
     padding-top: 120px;
     padding-bottom: 120px;
}

.quality-title-white {
    color: #fff;
}

.quality-list-title {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
}

.quality-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;  
}

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
     margin-bottom: 72px;
     text-transform: capitalize;
     text-align: center;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     color: #2e2f42;
     background-color: #f4f4fdF;
}

.team-iteam-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.team-iteam-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;

}

.team-list-iteam {
     background-color: #FFFFFF;
}

.portfolio {
     padding-top: 120px;
     padding-bottom: 120px;
}

.portfolio-title {
     margin-bottom: 72px;
     text-transform: capitalize;
     text-align: center;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.portfolio-iteam-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.portfolio-iteam-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
}

.footer-logo-italik {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #f4f4fd;
}

.footer-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
     margin: 0;
}

img {
     display: block;
}

.container {
     width: 1158px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;

}


